In [1]:
import pandas as pd
import numpy as np

In [7]:
data1516 = pd.read_excel('Data Sources/accdrilldwn1516_4Pandas.xlsx')
data1617 = pd.read_excel('Data Sources/accdrilldwn1617_4Pandas.xlsx')
data1718 = pd.read_excel('Data Sources/data-report1718.xlsx', sheet_name="Assess-Ind Data Set")
data1819 = pd.read_excel('Data Sources/data-report1819.xlsx', sheet_name="Assess-Ind Data Set")

In [19]:
data1718.columns

Index(['reporting_year', 'lea_code', 'lea_name', 'school_code', 'school_name',
       'sbe_region', 'grade_span', 'title_1', 'subgroup', 'subject', 'den',
       'total_pct', 'lev1_pct', 'lev2_pct', 'lev3_pct', 'lev4_pct', 'lev5_pct',
       'glp_pct', 'ccr_pct'],
      dtype='object')

In [21]:
data1617['Year'] = "'16-'17"
total_df = data1617
print(len(total_df))
data1516['Year'] = "'15-'16"
total_df = total_df.append(data1516)
print(len(total_df))

85766
170715

In [37]:
print(len(total_df))

total_df['Year'].value_counts()

279398

'16-'17    85766
'15-'16    84949
'18-'19    57104
'17-'18    51579
Name: Year, dtype: int64

In [36]:
total_df.replace(regex =r'^[<>*]', value='', inplace=True)
total_df.iloc[:,6:32] = total_df.iloc[:,6:32].apply(lambda x: pd.to_numeric(x, errors='raise'))
total_df.iloc[:,33:44] = total_df.iloc[:,33:44].apply(lambda x: pd.to_numeric(x, errors='raise'))

In [11]:
subgroup_dict = {
    "ALL":"All Students",
    "FEM":"Female", 
    "MALE":"Male",
    "AMIN":"American Indian",
    "ASIA":"Asian",
    "BLCK":"Black",
    "HISP":"Hispanic",
    "MULT":"Two or More Races",
    "WHTE":"White",
    "EDS":"Economically Disadvantaged Student",
    "ELS":"English Learners",
    "SWD":"Students with Disabilities",
    "AIG":"Academically or Intellectually Gifted",
    "HMS":"Homeless",
    "FCS":"Foster Care",
    "MIL":"Military Connected"
}
column_match = {
    "school_code":"School Code",
    "school_name":"School Name",
    "lea_name":"District Name",
    "subject":"Subject",
    "reporting_year":"Year",
    "subgroup":"Subgroup"
}

In [27]:
df = pd.DataFrame(data1819)

# Renames the columns in the column match variable
df = df.rename(columns=column_match)

# Drops the Year and adds in a hard coded variable for what year to match other data
df = df.drop('Year', axis=1)
df['Year'] = "'18-'19"

df['Subgroup'].replace(subgroup_dict, inplace=True)

df = df.pivot(index=["District Name", "School Code", "School Name", "Year", "Subject"], columns="Subgroup", values="total_pct")
df = df.reset_index()
df

Subgroup,District Name,School Code,School Name,Year,Subject,Academically or Intellectually Gifted,All Students,American Indian,Asian,Black,...,Hispanic,Homeless,MIG,Male,Military Connected,NEDS,NSWD,Students with Disabilities,Two or More Races,White
0,NaN,295300,Southside Ashpole Elementary,'18-'19,EOG,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,295300,Southside Ashpole Elementary,'18-'19,EOG03,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,295300,Southside Ashpole Elementary,'18-'19,EOG04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,295300,Southside Ashpole Elementary,'18-'19,EOG05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,295300,Southside Ashpole Elementary,'18-'19,MA03,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57099,Yancey County Schools,995336,South Toe Elementary,'18-'19,RD04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57100,Yancey County Schools,995336,South Toe Elementary,'18-'19,RD05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57101,Yancey County Schools,995336,South Toe Elementary,'18-'19,RDGS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57102,Yancey County Schools,995336,South Toe Elementary,'18-'19,SC05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57103,Yancey County Schools,995336,South Toe Elementary,'18-'19,SCGS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
total_df = total_df.append(df)

In [177]:
total_df['Subject'].value_counts()

All EOG/EOC Subjects      10682
All EOG Subjects           8670
EOG Math Grades 3-8        8648
EOG Reading Grades 3-8     8646
EOG Science Grades 5&8     8166
                          ...
M1SEP                      1320
WK                         1037
ACT WorkKeys               1034
M3                          730
M3A                         609
Name: Subject, Length: 89, dtype: int64

In [38]:
total_df.to_csv("Data Sources/TEST_15-19.csv")

In [5]:
test_df = pd.read_csv("Data Sources/TEST_15-19.csv")
test_df.groupby("School Name")
# test_df.loc[test_df['School Name'] == "Ardrey Kell"]
test_df.loc[test_df['School Code'] == 600302]['Year'].value_counts()

C:\Users\joshu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,4,6,9,15,16,17,18,19,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,39,40,41,42,43,44,45) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

'16-'17    21
'15-'16    21
Name: Year, dtype: int64

In [6]:
df.loc[df['School Code'] == 600302]

NameError: name 'df' is not defined

In [12]:
test_df.columns
drop_columns = ["MIG", "Military Connected", "Homeless", "Two or More Races", "Foster Care", "English Learners"]
test_df.drop(drop_columns, axis=1)

,Unnamed: 0,District Name,School Code,School Name,SBE District,Subject,"Standard (CCR - Level 4 & 5, GLP - Level 3 & Above)",All Students,Female,Male,...,SWD.1,AIG.1,Year,Academically or Intellectually Gifted,Economically Disadvantaged Student,Male,NEDS,NSWD,Students with Disabilities,White
0,0,State of North Carolina,NC,State of North Carolina,NaN,All EOG/EOC Subjects,College and Career Ready,49.2,51.0,47.6,...,255617,305064,'16-'17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,State of North Carolina,NC,State of North Carolina,NaN,All EOC Subjects,College and Career Ready,50.9,54.0,48.0,...,42229,76138,'16-'17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,State of North Carolina,NC,State of North Carolina,NaN,EOC Biology,College and Career Ready,47.5,48.5,46.5,...,12962,19977,'16-'17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,State of North Carolina,NC,State of North Carolina,NaN,EOC English 2,College and Career Ready,50.1,56.0,44.4,...,13851,20321,'16-'17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,State of North Carolina,NC,State of North Carolina,NaN,EOC Math I,College and Career Ready,54.1,56.6,51.8,...,15416,35840,'16-'17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279393,51574,Yancey County Schools,995336,South Toe Elementary,NaN,RD04,NaN,NaN,NaN,NaN,...,NaN,NaN,'17-'18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279394,51575,Yancey County Schools,995336,South Toe Elementary,NaN,RD05,NaN,NaN,NaN,NaN,...,NaN,NaN,'17-'18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279395,51576,Yancey County Schools,995336,South Toe Elementary,NaN,RDGS,NaN,NaN,NaN,NaN,...,NaN,NaN,'17-'18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279396,51577,Yancey County Schools,995336,South Toe Elementary,NaN,SC05,NaN,NaN,NaN,NaN,...,NaN,NaN,'17-'18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279397,51578,Yancey County Schools,995336,South Toe Elementary,NaN,SCGS,NaN,NaN,NaN,NaN,...,NaN,NaN,'17-'18,NaN,NaN,NaN,NaN,NaN,NaN,NaN