In [8]:
import pandas as pd
import numpy as np

In [9]:
data_drill1516 = pd.read_excel(r'Data Sources/accdrilldwn1516_4Pandas.xlsx')

In [10]:
data_drill1516.columns

Index(['District Name', 'School Code', 'School Name', 'SBE District',
       'Subject', 'Standard (CCR - Level 4 & 5, GLP - Level 3 & Above)',
       'All Students', 'Female', ' Male', 'American Indian', 'Asian', 'Black',
       'Hispanic', 'Two or More Races', ' White', 'EDS', 'LEP', 'SWD', 'AIG',
       'All Students.1', 'Female.1', ' Male.1', 'American Indian.1', 'Asian.1',
       'Black.1', 'Hispanic.1', 'Two or More Races.1', ' White.1', 'EDS.1',
       'LEP.1', 'SWD.1', 'AIG.1'],
      dtype='object')

In [12]:
data_drill1516_df = pd.DataFrame(data_drill1516, columns=['District Name', 'School Code', 'School Name', 'Subject', 'All Students', 'Female', ' Male', 'Black', 'Hispanic', ' White'])

In [13]:
data_drill1516_df

,District Name,School Code,School Name,Subject,All Students,Female,Male,Black,Hispanic,White
0,State of North Carolina,NC,State of North Carolina,All EOG/EOC Subjects,48.8,50.8,47.0,29.5,37.2,61.3
1,State of North Carolina,NC,State of North Carolina,All EOC Subjects,49.0,51.7,46.4,28.0,36.9,61.5
2,State of North Carolina,NC,State of North Carolina,EOC Biology,47.3,47.5,47.1,26.2,35.7,60.0
3,State of North Carolina,NC,State of North Carolina,EOC English 2,49.6,56.1,43.4,30.9,36.5,62.2
4,State of North Carolina,NC,State of North Carolina,EOC Math I,49.8,51.6,48.1,26.9,38.2,62.0
...,...,...,...,...,...,...,...,...,...,...
84944,Charter Schools,98B000,Wilson Preparatory Academy,EOG Math Grade 7,60.5,65.0,56.5,46.7,*,66.7
84945,Charter Schools,98B000,Wilson Preparatory Academy,EOG Math Grade 8,30.6,50.0,18.2,22.2,*,33.3
84946,Charter Schools,98B000,Wilson Preparatory Academy,EOG Science Grades 5&8,86.9,88.2,86.0,82.4,*,89.5
84947,Charter Schools,98B000,Wilson Preparatory Academy,EOG Science Grade 5,87.5,90.0,85.7,68.8,*,>95
84948,Charter Schools,98B000,Wilson Preparatory Academy,EOG Science Grade 8,86.1,85.7,86.4,94.4,*,80.0

In [14]:
data_drill1516_df['District Name'].value_counts()

Charter Schools                  7236
Charlotte-Mecklenburg Schools    5277
Wake County Schools              5135
Guilford County Schools          3643
Cumberland County Schools        2440
                                 ...
Tyrrell County Schools            150
Clay County Schools               148
State of North Carolina            69
Deaf and Blind Schools             51
Regional Schools                   19
Name: District Name, Length: 119, dtype: int64

In [16]:
df_charmeck1516 = data_drill1516_df.loc[data_drill1516_df['District Name'] == "Charlotte-Mecklenburg Schools"]

In [17]:
df_charmeck1516

,District Name,School Code,School Name,Subject,All Students,Female,Male,Black,Hispanic,White
42539,Charlotte-Mecklenburg Schools,600,Charlotte-Mecklenburg Schools,All EOG/EOC Subjects,52.8,55.3,50.3,36.5,40.7,79.2
42540,Charlotte-Mecklenburg Schools,600,Charlotte-Mecklenburg Schools,All EOC Subjects,54.8,58.4,51.3,36.0,41.8,82.1
42541,Charlotte-Mecklenburg Schools,600,Charlotte-Mecklenburg Schools,EOC Biology,52.4,54.5,50.2,33.9,41.4,79.1
42542,Charlotte-Mecklenburg Schools,600,Charlotte-Mecklenburg Schools,EOC English 2,52.7,59.4,46.1,37.4,39.8,80.6
42543,Charlotte-Mecklenburg Schools,600,Charlotte-Mecklenburg Schools,EOC Math I,58.1,60.5,55.8,36.4,43.6,85.1
...,...,...,...,...,...,...,...,...,...,...
47811,Charlotte-Mecklenburg Schools,600697,Olympic High - Biotech Health Pub Admin,The ACT - Science,18.3,23.1,12.0,16.9,<5,31.3
47812,Charlotte-Mecklenburg Schools,600697,Olympic High - Biotech Health Pub Admin,The ACT - Writing,20.2,28.1,10.0,15.5,21.7,25.0
47813,Charlotte-Mecklenburg Schools,600697,Olympic High - Biotech Health Pub Admin,The ACT - All Subtests,21.8,25.9,16.4,18.7,17.4,31.3
47814,Charlotte-Mecklenburg Schools,600697,Olympic High - Biotech Health Pub Admin,Math Course Rigor,>95,>95,>95,>95,>95,>95
47815,Charlotte-Mecklenburg Schools,600697,Olympic High - Biotech Health Pub Admin,ACT WorkKeys,82.5,73.1,>95,75.0,*,*

In [18]:
df_charmeck1516.columns

Index(['District Name', 'School Code', 'School Name', 'Subject',
       'All Students', 'Female', ' Male', 'Black', 'Hispanic', ' White'],
      dtype='object')

In [19]:
df_charmeck1516['District Name'].value_counts()

Charlotte-Mecklenburg Schools    5277
Name: District Name, dtype: int64

In [20]:
df_charmeck1516['School Code'].value_counts()

600       69
600364    68
600577    54
600344    54
600532    54
          ..
600454    16
600435    14
600443    10
600334    10
600567    10
Name: School Code, Length: 169, dtype: int64

In [21]:
df_charmeck1516['School Name'].value_counts()

Charlotte-Mecklenburg Schools               69
Military and Global Leadership Academy      68
Westerly Hills Academy                      54
Collinswood Language Academy                54
Waddell Language Academy                    54
                                            ..
Metro School                                16
Trillium Springs Montessori                 14
Levine Middle College High                  10
Cato Middle College High                    10
Charlotte Engineering Early College-UNCC    10
Name: School Name, Length: 169, dtype: int64

In [22]:
df_charmeck1516['Subject'].value_counts()

All EOG/EOC Subjects         334
All EOG Subjects             282
EOG Reading Grades 3-8       282
EOG Math Grades 3-8          282
EOG Science Grades 5&8       278
EOG Grade 3                  222
EOG Grade 4                  218
EOG Grade 5                  218
EOG Math Grade 3             218
EOG Reading Grade 3          218
EOG Math Grade 4             216
EOG Science Grade 5          216
EOG Math Grade 5             216
EOG Reading Grade 4          216
EOG Reading Grade 5          216
All EOC Subjects             132
EOC Math I                   130
EOG Grade 6                  100
EOG Reading Grade 6           96
EOG Math Grade 6              96
EOG Grade 7                   94
EOG Reading Grade 7           92
EOG Math Grade 7              92
EOG Math Grade 8              90
EOG Reading Grade 8           90
EOG Science Grade 8           90
EOG Grade 8                   90
EOC English 2                 62
EOC Biology                   62
Graduation Rate               60
The ACT - All Subtests        32
The ACT - Composite Score     31
The ACT - English             31
The ACT - Reading             31
The ACT - Math                31
The ACT - Science             31
The ACT - Writing             31
Math Course Rigor             30
ACT WorkKeys                  21
Name: Subject, dtype: int64

In [36]:
df_charmeck1516['Subject']

42539      All EOG/EOC Subjects
42540          All EOC Subjects
42541               EOC Biology
42542             EOC English 2
42543                EOC Math I
                  ...
47811         The ACT - Science
47812         The ACT - Writing
47813    The ACT - All Subtests
47814         Math Course Rigor
47815              ACT WorkKeys
Name: Subject, Length: 5277, dtype: object

In [30]:
len(df_charmeck1516)

5277

In [33]:
Acad_kpi = df_charmeck1516['Subject'].isin(["The ACT - Composite Score", "ACT WorkKeys", "Graduation Rate"])

In [35]:
df_charmeck1516_kpi = df_charmeck1516[Acad_kpi]
len(df_charmeck1516_kpi)

112

In [ ]:
# schools = [school_name,LEA
# Ardrey Kell High School,600302
# Butler High School,600361
# Cato Middle College High School,600334
# Charlotte Engineering Early College,600567
# Charlotte Teacher Early College,
# Charlotte-Mecklenburg Virtual High School,
# East Mecklenburg High School,600377
# Garinger High School,600397
# Harding University High School,600405
# Harper Middle College High School,600404
# Hawthorne Academy of Health Sciences,600386
# Hopewell High School,600415
# Independence High School,600426
# John Taylor Williams Secondary Montessori,
# Julius L. Chambers High School,
# Levine Middle College High,600443
# Mallard Creek High School,600445
# Merancas Middle College @ CPCC,
# Military and Global Leadership Academy,600364
# Myers Park High School,600466
# North Mecklenburg High School,600480
# Northwest School of the Arts,600482
# Olympic High School,
# Performance Learning Center,600498
# Phillip O. Berry Academy of Technology,600496
# Providence High School,600508
# Rocky River High School,600457
# South Mecklenburg High School,600535
# West Charlotte High School,600576
# West Mecklenburg High School,600579
# William Amos Hough High School,600312
# Turning Point Academy,
# Charlotte-Mecklenburg Academy,
# Metro School,
# ]