In [28]:
import pandas as pd
import numpy as np

In [138]:
data1516 = pd.read_excel('Data Sources/accdrilldwn1516_4Pandas.xlsx')
data1617 = pd.read_excel('Data Sources/accdrilldwn1617_4Pandas.xlsx')
data1718 = pd.read_excel('Data Sources/data-report1718.xlsx', sheet_name="Assess-Ind Data Set")
data1819 = pd.read_excel('Data Sources/data-report1819.xlsx', sheet_name="Assess-Ind Data Set")

In [148]:
data1617.columns

Index(['District Name', 'School Code', 'School Name', 'SBE District',
       'Subject', 'Standard (CCR - Level 4 & 5, GLP - Level 3 & Above)',
       'All Students', 'Female', ' Male', 'American Indian', 'Asian', 'Black',
       'Hispanic', 'Two or More Races', ' White', 'EDS', 'LEP', 'SWD', 'AIG',
       'All Students.1', 'Female.1', ' Male.1', 'American Indian.1', 'Asian.1',
       'Black.1', 'Hispanic.1', 'Two or More Races.1', ' White.1', 'EDS.1',
       'LEP.1', 'SWD.1', 'AIG.1', 'Year'],
      dtype='object')

In [149]:
total_df = pd.DataFrame

In [167]:
data1617['Year'] = "'16-'17"
total_df = data1617
data1516['Year'] = "'15-'16"
total_df = total_df.append(data1516)

In [168]:
total_df

,District Name,School Code,School Name,SBE District,Subject,"Standard (CCR - Level 4 & 5, GLP - Level 3 & Above)",All Students,Female,Male,American Indian,...,Asian.1,Black.1,Hispanic.1,Two or More Races.1,White.1,EDS.1,LEP.1,SWD.1,AIG.1,Year
0,State of North Carolina,NC,State of North Carolina,NaN,All EOG/EOC Subjects,College and Career Ready,49.2,51.0,47.6,33.4,...,64469,509546,342683,83948,998834,995415,95195,255617,305064,'16-'17
1,State of North Carolina,NC,State of North Carolina,NaN,All EOC Subjects,College and Career Ready,50.9,54.0,48.0,33.6,...,12697,96147,57565,14718,200303,170107,13634,42229,76138,'16-'17
2,State of North Carolina,NC,State of North Carolina,NaN,EOC Biology,College and Career Ready,47.5,48.5,46.5,33.0,...,3592,29523,16915,4258,58641,50089,3627,12962,19977,'16-'17
3,State of North Carolina,NC,State of North Carolina,NaN,EOC English 2,College and Career Ready,50.1,56.0,44.4,30.9,...,3542,31119,17970,4508,61362,54188,4153,13851,20321,'16-'17
4,State of North Carolina,NC,State of North Carolina,NaN,EOC Math I,College and Career Ready,54.1,56.6,51.8,36.5,...,5563,35505,22680,5952,80300,65830,5854,15416,35840,'16-'17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84944,Charter Schools,98B000,Wilson Preparatory Academy,North Central Region,EOG Math Grade 7,Grade Level Proficient,60.5,65.0,56.5,*,...,<10,15,<10,<10,24,11,<10,<10,<10,'15-'16
84945,Charter Schools,98B000,Wilson Preparatory Academy,North Central Region,EOG Math Grade 8,Grade Level Proficient,30.6,50.0,18.2,*,...,<10,18,<10,<10,15,<10,<10,<10,<10,'15-'16
84946,Charter Schools,98B000,Wilson Preparatory Academy,North Central Region,EOG Science Grades 5&8,Grade Level Proficient,86.9,88.2,86.0,*,...,<10,34,<10,<10,38,26,<10,<10,<10,'15-'16
84947,Charter Schools,98B000,Wilson Preparatory Academy,North Central Region,EOG Science Grade 5,Grade Level Proficient,87.5,90.0,85.7,*,...,<10,16,<10,<10,23,17,<10,<10,<10,'15-'16
84948,Charter Schools,98B000,Wilson Preparatory Academy,North Central Region,EOG Science Grade 8,Grade Level Proficient,86.1,85.7,86.4,*,...,<10,18,<10,<10,15,<10,<10,<10,<10,'15-'16

In [73]:
subgroup_dict = {
    "ALL":"All Students",
    "FEM":"Female", 
    "MALE":"Male",
    "AMIN":"American Indian",
    "ASIA":"Asian",
    "BLCK":"Black",
    "HISP":"Hispanic",
    "MULT":"Two or More Races",
    "WHTE":"White",
    "EDS":"Economically Disadvantaged Student",
    "ELS":"English Learners",
    "SWD":"Students with Disabilities",
    "AIG":"Academically or Intellectually Gifted",
    "HMS":"Homeless",
    "FCS":"Foster Care",
    "MIL":"Military Connected"
}
column_match = {
    "school_code":"School Code",
    "school_name":"School Name",
    "lea_name":"District Name",
    "subject":"Subject",
    "reporting_year":"Year",
    "subgroup":"Subgroup"
}

In [172]:
df = pd.DataFrame(data1718)

# Renames the columns in the column match variable
df = df.rename(columns=column_match)

# Drops the Year and adds in a hard coded variable for what year to match other data
df = df.drop('Year', axis=1)
df['Year'] = "'17-'18"

df['Subgroup'].replace(subgroup_dict, inplace=True)

df = df.pivot(index=["District Name", "School Code", "School Name", "Year", "Subject"], columns="Subgroup", values="total_pct")
df = df.reset_index()
df

Subgroup,District Name,School Code,School Name,Year,Subject,Academically or Intellectually Gifted,All Students,American Indian,Asian,Black,...,English Learners,Female,Foster Care,Hispanic,Homeless,Male,Military Connected,Students with Disabilities,Two or More Races,White
0,Alamance-Burlington Schools,010,Alamance-Burlington Schools,'17-'18,ACT,93.3,49.1,NaN,62.1,33.2,...,10.9,53.7,NaN,37.3,14.3,44.7,NaN,8.6,38.7,62.1
1,Alamance-Burlington Schools,010,Alamance-Burlington Schools,'17-'18,ACT4B,45.0,12.0,NaN,27.6,<5,...,<5,11.7,NaN,<5,7.1,12.3,NaN,<5,14.5,18.1
2,Alamance-Burlington Schools,010,Alamance-Burlington Schools,'17-'18,ACT5B,27.7,7.4,NaN,14.3,<5,...,<5,8.3,NaN,<5,<5,6.5,NaN,<5,8.2,12.1
3,Alamance-Burlington Schools,010,Alamance-Burlington Schools,'17-'18,ACTALL,63.2,23.7,17.1,40.3,10.5,...,<5,24.9,<5,14.6,8.8,22.4,20.0,<5,19.4,33.4
4,Alamance-Burlington Schools,010,Alamance-Burlington Schools,'17-'18,ACTEN,80.5,32.5,NaN,55.2,15.8,...,5.5,34.4,NaN,20.1,7.1,30.7,NaN,<5,22.6,45.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51574,Yancey County Schools,995336,South Toe Elementary,'17-'18,RD04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51575,Yancey County Schools,995336,South Toe Elementary,'17-'18,RD05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51576,Yancey County Schools,995336,South Toe Elementary,'17-'18,RDGS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51577,Yancey County Schools,995336,South Toe Elementary,'17-'18,SC05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51578,Yancey County Schools,995336,South Toe Elementary,'17-'18,SCGS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [173]:
total_df = total_df.append(df)

In [177]:
total_df['Subject'].value_counts()

All EOG/EOC Subjects      10682
All EOG Subjects           8670
EOG Math Grades 3-8        8648
EOG Reading Grades 3-8     8646
EOG Science Grades 5&8     8166
                          ...
M1SEP                      1320
WK                         1037
ACT WorkKeys               1034
M3                          730
M3A                         609
Name: Subject, Length: 89, dtype: int64

In [176]:
total_df.to_csv("Data Sources/TEST_15-19.csv")