In [1]:
import pandas as pd

In [62]:
fifteen = pd.read_csv("accdrilldwn16.csv")

C:\Users\Alexander Saunders\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [63]:
fifteen.head()

,District Name,School Code,School Name,SBE District,Subject,"Standard (CCR - Level 4 & 5, GLP - Level 3 & Above)",All Students,Female,Male,American Indian,...,American Indian.1,Asian.1,Black.1,Hispanic.1,Two or More Races.1,White.1,EDS.1,LEP.1,SWD.1,AIG.1
0,State of North Carolina,NC,State of North Carolina,NaN,All EOG/EOC Subjects,College and Career Ready,48.8,50.8,47.0,33.5,...,25166,60986,511051,324678,79500,1011648,980217,98741,259440,313361
1,State of North Carolina,NC,State of North Carolina,NaN,All EOC Subjects,College and Career Ready,49.0,51.7,46.4,31.5,...,4965,12236,100962,54494,14176,206226,173261,12794,43155,77845
2,State of North Carolina,NC,State of North Carolina,NaN,EOC Biology,College and Career Ready,47.3,47.5,47.1,31.4,...,1448,3534,30833,15950,4274,61238,51403,3344,13213,20758
3,State of North Carolina,NC,State of North Carolina,NaN,EOC English 2,College and Career Ready,49.6,56.1,43.4,32.6,...,1676,3367,31872,16573,4211,61967,53679,3618,13621,20582
4,State of North Carolina,NC,State of North Carolina,NaN,EOC Math I,College and Career Ready,49.8,51.6,48.1,30.5,...,1841,5335,38257,21971,5691,83021,68179,5832,16321,36505

In [67]:
fifteen.replace(regex =r'^[<>*]', value='', inplace=True)
fifteen.iloc[:,6:32] = fifteen.iloc[:,6:32].apply(lambda x: pd.to_numeric(x, errors='raise'))

In [76]:
fifteen.to_csv('fifteen_to_sql.csv', index=False)